body{
	background-color: #1e6a9c;
}

.container{
	position: relative;
	width: 90vw;
	height: 20vh;
	left: calc(50% - 45vw);
	background-color: rgba(255, 255, 255, 0.3);
}

.version{
	position: absolute;
	left: 650px;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 40px;
}

.title{
	position: absolute;
	top: 50px;
	left: 550px;
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	color: white;
	font-size: 40px;
}

.author{
	position: absolute;
	top: 70px;
	left: 750px;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 20px;
}

.next{
	position: absolute;
	right: 20px;
	top: 80px;
	font-size: 40px;
}

.back{
	position: absolute;
	left: 20px;
	top: 80px;
	font-size: 40px;
}

#one{
	position: absolute;
	width: 30px;
	overflow: visible;
	color: white;
	font-family: 'Heebo', sans-serif;
	background-color: rgba(159, 205, 227, 0.3);
}

#two{
	position: absolute;
	left: 100px;
	width: 30px;
	overflow: visible;
	color: white;
	font-family: 'Heebo', sans-serif;
	background-color: rgba(159, 205, 227, 0.3);
}

#three{
	position: absolute;
	right: 100px;
	width: 30px;
	overflow: visible;
	color: white;
	font-family: 'Heebo', sans-serif;
	background-color: rgba(159, 205, 227, 0.3);
	text-align: right;
}
