
body {
	 animation: color-change;
	 animation-duration: 8s;
	 animation-iteration-count: infinite;
}

@keyframes color-change {
  0% {
    background: #bf4939;
  }
  25% {
    background: #dbad2e;
  }
  50% {
    background: #739e24;
  }
  75% {
    background: #3187c4;
  }
  100% {
    background: #7f3eab;
  }
}


.container{
	position: relative;
	width: 90vw;
	height: 20vh;
	left: calc(50% - 45vw);
	background-color: rgba(255, 255, 255, 0.3);
}

.version{
	position: absolute;
	left: 650px;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 40px;
}

.title{
	position: absolute;
	top: 50px;
	left: 550px;
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	color: white;
	font-size: 40px;
	animation: scale-up;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes scale-up {
  0% {
  	transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
	50%{
		transform: scaleY(1);
    transform-origin: 0% 100%;
	}
  100% {
		transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
}

.author{
	position: absolute;
	top: 70px;
	left: 750px;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 20px;
	animation: scale-up;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.next{
	position: absolute;
	right: 20px;
	top: 80px;
	font-size: 40px;
	animation-name: move-up;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.back{
	position: absolute;
	left: 20px;
	top: 80px;
	font-size: 40px;
	animation-name: move-up;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes move-up {
	0% {
	    top: 80px;
	  }
	  50% {
	    top: 1px;
	  }
	  100% {
	    top: 80px;
	  }
}

.poem{
	color: white;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	animation: appear;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

p:hover{
	color: white;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.3);
}

p:active{
	color: black;
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
}
